<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtered Timeline</title>
    <link rel="stylesheet" href="/header.css">
    <script src="/script.js" defer></script>
</head>

<body>
    <%- include('header') %>

        <div class="main-container">
            <h1>
                <%= pageTitle %>
            </h1>
            <% posts.forEach(post=> { %>
                <div class="post-container">
                    <p class="post-username">
                        <%= post.author %>
                    </p>
                    <p class="description">
                        <%= post.post %>
                    </p>
                    <p class="tags">
                        [Tags]: <%= post.tags.join(', ') %>
                </p>
            </div>
        <% }) %>
    </div>
    
</body>

</html>