<!DOCTYPE html>
<html>

<head>
    <title>Database Dump</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>

<body>
    <h1>Database Dump</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>User ID</th>
                <th>Name</th>
                <th>Username</th>
                <th>Password</th>
                <th>User Group ID</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(function(user) { %>
                <tr>
                    <td>
                        <%= user.ID_U %>
                    </td>
                    <td>
                        <%= user.userID %>
                    </td>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.username %>
                    </td>
                    <td>
                        <%= user.pass %>
                    </td>
                    <td>
                        <%= user.ID_UG %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</body>

</html>